# Environment variables for Pawapay API integration
# Sandox API URL and API Key for testing purposes
PAWAPAY_API_URL=
PAWAPAY_API_KEY=
env=
BANK_FILE_PATH=""
LOG_LEVEL=debug
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_TLS_DISABLED=
RUN_MIGRATIONS=
MIGRATION_PATH=
LISTEN_PORT=